```{=html}

<%
  var groupedItems = {};

  for (var i = 0; i < items.length; i++) {
    const item = items[i];
    const date = new Date(+item.sortableValues.date);
    const month = date.toLocaleDateString('id-ID', { month: 'numeric' });
    const year = date.getFullYear().toString();

    const key = year + '.' + month;

    if (!groupedItems[key]) {
      groupedItems[key] = [];
    }

    groupedItems[key].push(item);
  }

  // Sort the items within each group by the newest first
  Object.keys(groupedItems).forEach(function(key) {
    groupedItems[key].sort(function(a, b) {
      var dateA = new Date(+a.sortableValues.date);
      var dateB = new Date(+b.sortableValues.date);
      return dateB - dateA;
    });
  });

  var orderedGroupedItems = Object.keys(groupedItems).sort().reverse().reduce(
    (obj, key) => {
      obj[key] = groupedItems[key];
      return obj;
    },
    {}
  );
%>

<% Object.keys(orderedGroupedItems).forEach(function(key) { %>
  <h2><%= orderedGroupedItems[key][0].date.split(" ").slice(1).join(" ") %></h2>
  <div>
  <% orderedGroupedItems[key].forEach(function(item) { %>
    <div>
      <a href="<%- item.path %>" style="text-decoration: none;">
        <div class="arc-card">
          <div class="arc-card-image" style="background-image: url('<%- item.image %>');">
          </div>
          <div style="padding: 1em;">
            <% const ptitle = item.title.replace(/`([^`]+)`/g, '<code>$1</code>'); %>
            <b class="arc-card-title"><%= ptitle %></b>
            <hr>
            <div class="arc-date">
              <%- item.date %>
            </div>
            <div>
              <% const desc = item.description; %>
              <% const dalt = `<!-- desc(5A0113B34292)[max=50]:${item.outputHref} -->`; %>
              <% const descf = /^<!--.*-->$/g.test(desc) ? `${dalt}` : desc; %>
              <%= descf %>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% }); %>
  </div>
<% }); %>

<style>
  .arc-month-div {
    justify-content: start;
  }
  .arc-card {
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    min-height: 160px;
    margin-bottom: 20px;
    box-shadow: 0 3px 7px -3px rgba(#000, .4);
    width: 75%;
    max-width: 90%;
    overflow: hidden;
    &:hover {
      .arc-card-image {
        min-width: 20%;
      }
    }
  }
  .arc-card-image {
    border-radius: 10px 0 0 10px;
    min-width: 30%;
    background-size: cover;
    transition: all .2s;
    background-position: center;
    box-shadow: 8px 0 2px 1px rgba(#000, .4);
  }
  .arc-card-title {
    color: cornflowerblue;
  }
  .arc-date {
    font-size: small;
    color: blanchedalmond;
  }
</style>

```